@yellow: #ff9029;

.margenes( @top, @bottom){
    margin-top : @top;
    margin-bottom : @bottom;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    .margenes(10px, 0px);
    // margin-bottom: 0px;
    // margin-top: 10px;
}

footer .row{ 
    margin-right: 5px;
}

.card-hotel{
    flex: 1 230px;
    padding: 2px 5px 2px 5px;
    // margin-top: 10px;
    .margenes(10px, 0px);
}

.btn-reserva{
    width: 100%;
    background: #2F7D84;
}

.jumbotron{
    /*background-color: #197DB1;*/
    color: white;
    margin-top: 50px;
    background-image: url("/image/header.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.btn-reserva{
    width: 100%;
}

.footer-adrress-icon{
   padding-right: 10px;
}

.tab-pane{
    margin-top: 5px;
}
.carousel-img{
    height: 400px; 
    width: 100%;
}

.btn-bloqueado{
    background-color: gray;
    color: white;
}
